annotated-types==0.6.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.2.2
charset-normalizer==3.3.2
greenlet==3.0.3
html5lib==1.1
idna==3.6
psycopg2==2.9.9
pydantic==2.6.4
pydantic_core==2.16.3
python-dotenv==1.0.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.29
typing_extensions==4.11.0
urllib3==2.2.1
webencodings==0.5.1
